@page
@model WebSurveyApplication.Pages.SurveyQuestionModel
@{
}
<div class="mx-auto text-center col-5">
    <form method="post">
        <div class="card">
            <div class="card-header">
                <label class="form-label">@Model.Question</label>
            </div>

            <div class="card-body">
                @if (Model.QuestionType == "string")
                {
                    <input class="form-control" type="text" value="" autocomplete="off" asp-for="Answer" placeholder="Input your Anwer here...">
                }
                else
                {
                    <input class="btn btn-outline-info form-control" value="True" title="Yes" asp-for="AnswerBool" type="submit"></input>
                    <br />
                    <input class="btn btn-outline-info form-control" value="False" title="No" asp-for="AnswerBool" type="submit"></input>
                }
            </div>

            <div class="card-footer">
                @if (Model.QuestionType == "string")
                {
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                }
            </div>
        </div>
    </form>
</div>

